@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    font-family: 'Sora';
    scroll-behavior: smooth;
}

body {
    background-color: rgb(17,19,22);

}
.main-container {
    background-color: rgb(17,19,22);
    margin: 0 14%;

}

a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
    transition: transform 150ms;
}

.line-animation {
    display: inline-block;
    position: relative;
}

.line-animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(175, 226, 255);

    transition: transform 0.35s ease-out;

    /* ending transition */
    transform-origin: bottom right; 
    transform: scaleX(0);
}

.line-animation:hover::after {
    color: rgb(175, 226, 255);

    /* starting transition */
    transform: scaleX(1);
    transform-origin: bottom left;
}

header {
    width: 100vw;
    position: fixed;
    display: block;
    background-color: rgb(17,19,22);
    z-index: 10;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 14%;
}


.name, .menu-items {
    display: inline-block;
    color: white;
    font-size: 15px;
}

.name-gradient {
    background-color: rgb(175, 226, 255);
    background-image: radial-gradient(circle, rgba(218,242,255,1) 0%, rgba(155,222,255,1) 100%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.name {
    flex: 1;
    color: rgb(175, 226, 255);
    font-weight: 500;
    font-size: 30px;

}

.menu-items {
    text-align: right;
}

.menu-item {
    padding: 0 7px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* padding: 0 200px; */
    justify-content: center;
}

.hello-world {
    font-size: 75px;
    color: rgb(233, 246, 255);
}

.welcome {
    font-size: 20px;
    color: rgb(175, 226, 255);
}

.h1 {
    font-size: 75px;
    color: rgb(175, 226, 255);
}

h2 {
    font-size: 50px;
    color: rgb(175, 226, 255);
    font-weight: 600;
}

p, li {
    color: rgb(233, 246, 255);
    font-weight: 300;
    line-height: 25px;
}

#about-me {
    display: flex;
    align-items: center;
    gap: 50px;
}

.card {
    flex: 1;
}

.profile {
    display: block;
    object-fit: contain;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}

#class-notes {
    height: 30vh;
}

.swiper-container {
    width: 100%;
    height: 110%;
    align-self: center;
    position: relative;
}

.swiper {
    height: 225px;
    width: 100%;
    position: relative;
}

.swiper-slide {
    max-height: 200px;
    text-align: center;
    font-size: 18px;
    background: rgb(233, 246, 255);
    border-radius: 10px;

    display: flex !important;
    justify-content: center;
    align-items: center;    
}

.swiper-slide:hover {
    cursor: pointer;
}

button {
    border: none;
}


.swiper-pagination {
    position: absolute;
}

.swiper-pagination-bullet{
    background-color: white !important;
}

.swiper-pagination-bullet-active {
    background-color: rgb(175, 226, 255) !important;
}

.swiper-button-next, .swiper-button-prev {
    background-color: transparent;
    color: rgb(255, 255, 255) !important;
    --swiper-navigation-size: 30px;
}

.swiper-button-next {
    transform: translate(40px, -12.5px);
}

.swiper-button-prev {
    transform: translate(-40px, -12.5px);
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

h4 {
    /* font-style: italic; */
    font-weight: 300;
    font-size: 15px;
    margin: 6px 0 8px 0;
}

h5 {
    font-weight: 600;
}