@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --primary: rgb(175, 226, 255);
    --secondary: rgb(233, 246, 255);
    --dark: rgb(17,19,22); 
    --lightgrey: rgb(36, 36, 36);
}

* {
    margin: 0;
    font-family: 'Sora';
    scroll-behavior: smooth;
}

/* SCROLL BAR */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background:  var(--secondary);
    border-radius: 8px;
}

body {
    background-color: var(--dark);
    position: relative;
}

main {
    background-color: var(--dark);
    margin: 0 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
    transition: transform 150ms;
}

.line-animation {
    display: inline-block;
    position: relative;
}

.line-animation::after {
    content: "";
    position: absolute;
    margin-bottom: -2px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--primary);

    transition: transform 0.35s ease-out;

    /* ending transition */
    transform-origin: bottom right; 
    transform: scaleX(0);
}

.line-animation:hover::after {
    color: var(--primary);

    /* starting transition */
    transform: scaleX(1);
    transform-origin: bottom left;
}

header {
    width: 100vw;
    position: fixed;
    display: block;
    background-color: var(--dark);
    z-index: 100;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 14%;
    background-color: var(--dark);
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-links {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.external-link {
    width: 24px;
    fill: var(--lightgrey);
    cursor: pointer;
}

.github-link {
    width: 27px;
    fill: var(--lightgrey);
    cursor: pointer;
}

.menu-items {
    text-align: right;
}

.name, .menu-items {
    display: inline-block;
    color: white;
    font-size: 15px;
}

.name-gradient {
    background-color: var(--primary);
    background-image: radial-gradient(circle, rgba(218,242,255,1) 0%, rgba(155,222,255,1) 100%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.name {
    flex: 1;
    color: var(--primary);
    font-weight: 500;
    font-size: 30px;
}

.name:hover, .menu-item:hover, .contact-logo:hover {
    cursor: pointer;
}

#hello {
    min-height: 100vh;
    padding: 0;
}

.menu-item {
    padding: 0 7px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    padding: 200px 0;
    justify-content: center;
}

.hello-world {
    font-size: 75px;
    color:  var(--secondary);
}

.welcome {
    font-size: 20px;
    color: var(--primary);
}

h1 {
    font-size: 75px;
    color: var(--primary);
    display: inline;
}

h2 {
    font-size: 50px;
    color: var(--primary);
    font-weight: 600;
}

p, li {
    color: white;
    font-weight: 300;
    line-height: 25px;
}

#about-me {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 50px;
}

.profile {
    display: block;
    object-fit: contain;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    transition: 0.3s;
}

.profile:hover {
    transform: scale(1.05)
}

#course-notes {
    height: 30vh;
}

.swiper-container {
    width: 100%;
    height: 225px;
    align-self: center;
    position: relative;
}

.swiper {
    height: 100%;
    width: 100%;
    position: relative;
}

.swiper-slide {
    max-height: 200px;
    width: 90%;
    text-align: center;
    font-size: 18px;
    background-color: var(--secondary);
    border-radius: 10px;

    display: flex !important;
    justify-content: center;
    align-items: center;
}

.swiper-button-next {
    transform: translate(40px, -12.5px);
}

.swiper-button-prev {
    transform: translate(-40px, -12.5px);
}

.swiper-slide:hover {
    cursor: pointer;
    background-color: var(--primary);
}

button {
    border: none;
}

.swiper-pagination {
    position: absolute;
}

.swiper-pagination-bullet{
    background-color: white !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--secondary) !important;
}

.swiper-button-next, .swiper-button-prev {
    background-color: transparent;
    color: var(--secondary) !important;
    --swiper-navigation-size: 30px;
}


h3 {
    font-size: 25px;
    font-weight: 600;
}

h4 {
    font-weight: 300;
    font-size: 15px;
    margin: 6px 0 8px 0;
}

h5 {
    font-weight: 600;
}

.contact-logo {
    width: 40px;
    margin-right: 20px;
    fill: white;
}

.contact {
    display: flex;
    align-items: center;
}

.contact-user {
    font-size: 20px;
}

.footer {
    text-align: center;
    font-size: 13px;
    padding-bottom: 30px;
    color: grey;
}

/* MEDIA QUERIES */
.menu-items-rsp {
    display: none;
}

#menu-window {
    opacity: 0;
    position: fixed;
    z-index: -1000;
    width: 100vw;
    /* padding: 0 11%; */
    height: 100vh;
    background-color: var(--dark);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-window-item {
    font-size: 20px;
    color: white;
}

.exit {
    position: fixed;
    top: 10px;
    right: 5%;
}

.exit-icon {
    fill: white;
    width: 38px;
}

.project-cards {
    display: flex;
    row-gap: 15px;
    column-gap: 15px;
    flex-wrap: wrap;

}

.project-card {
    flex: 1;
    background: var(--secondary);
    min-width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.3s
}

.project-thumbnail {
    position: relative;

    height: 150px;
}

.project-card h3 {
    color: var(--dark);
    margin-bottom: 10px;
}

.project-thumbnail:after {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(233,246,255,1) 100%);
}

.project-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: top left;
}

.project-card .contact-logo {
    display: inline;
    margin: 0;
    fill: grey;
    height: 20px;
}

.project-content {
    flex: 1;
    padding: 0 10px 0px 10px;
}

.project-caption {
    color: rgb(97, 97, 97);
    font-size: 12px;
    line-height: normal;
}

.project-techs {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    margin: 10px;
}

.tech {
    flex: 1;
    background-color: rgb(237, 237, 237);
    color: grey;
    border: 0.5px solid rgb(199, 199, 199);
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 2px 10px;
    font-size: 10px;
    white-space: nowrap;
}

.tech img {
    /* width: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    margin-right: 5px;
}

.typed-cursor {
    color: var(--secondary);
    font-size: 90px;
    font-weight: 200;
}

.animated-item {
    opacity: 0;
    transition: all 2s;
}

.threes-transition {
    transition: all 3s;
}

.present {
    opacity: 1;
    transform: translateX(0)
}

@media(prefers-reduced-motion) {
    .animated-item {
        transition: none;
    }
}

@media (max-width: 1000px) {

    #about-me {
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (max-width: 950px) {

    .menu-item {
        display: none
    }

    .menu-items-rsp {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger {
        height: 25px;
        fill: white;
    }

    .profile {
        width: 250px;
    }

}

@media (max-width: 500px) {

    .profile {
        width: 200px;
    }

    main {
        margin: 0 11%;
    }

    nav {
        padding: 10px 5%;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }

    h2 {
        font-size: 35px;
    }

    h1.hello-world {
        font-size: 50px;
    }

    .typed-cursor {
        font-size: 60px;
    }

    p.contact-user.line-animation {
        font-size: 15px;
    }

    .contact-logo {
        width: 30px;
    }

    .swiper-container {
        height: 150px;
    }

    .swiper-slide {
        max-height: 125px;
        font-size: 14px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 13px;
    }
}

@media (max-width: 400px) {

    main {
        margin: 0 5%;
    }

    .swiper {
        width: 80%
    }

    .swiper-button-next {
        transform: translate(10px, -12.5px);
    }
    
    .swiper-button-prev {
        transform: translate(-10px, -12.5px);
    }

}